@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;700&display=swap");
@import "reset.css";

/*companents*/
@import "css/components.css";

/*page*/
@import "css/page/select-nation.css";
@import "css/page/login.css";
@import "css/page/home.css";

body {
  min-width: 390px;
  max-width: 1024px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("img/basic/pattern__img.png"),
    url("img/basic/background__paper.png");
  background-position: top 0 center, center;
  background-repeat: no-repeat;
  background-size: 390px 311px, cover;
  font-family: pretendard, sans-serif;
  position: relative;
}
