.middle-section__frame1 {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 2rem;
}

.middle-section__frame1__ul {
  height: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.middle-section__frame1__box1 {
  margin: 0.5rem 0.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.middle-seciton__frame1__sol1 {
  height: 80%;
  width: 100%;
  border: solid #fbbec1 1px;
  border-radius: 0.25rem;
  margin-bottom: 0.25rem;
}

.middle-seciton__frame1__comment {
  height: 30%;
  margin: 0 1rem;
  display: flex;
  text-align: center;
  align-items: center;
  border-top: 0.1rem solid #e3dbc9;
}
