.home-middle-section {
  height: 100%;
  width: 320px;
}

.home-middle-section__top__box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 5% auto;
  position: relative;
}

.home-middle-section__top__btn {
  width: 100px;
  height: 30px;
  border-radius: 4px;
  background-color: #d4c8ad;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
  border: solid #c2ae9b 3px;
  color: #65272a;
}

.home-middle-section__main__box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.home-middle-section__main__box__img {
  width: 100%;
  vertical-align: middle;
}
.home-middle-section__main__box__info {
  position: absolute;
  top: 20%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-middle-section__main__box__info__list {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.home-middle-section__main__box__info__ul {
  width: 256px;
  padding: 0 32px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.25rem;
}

.home-middle-section__main__box__info__pve {
  position: absolute;
  top: 60%;
  width: 256px;
  padding: 0 10%;
  text-align: left;
}
.home-middle-section__main__box__info__pve__progress {
  width: 256px;
  position: absolute;
  text-align: left;
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
}
.home-middle-section__main__box__info__pve__progress__nation {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.home-middle-section__main__box__info__contents {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
}

.home-middle-section__main__box__info__contents__ul {
  width: 100%;
  display: flex;
  padding: 0 10%;
  justify-content: space-between;
}
.home-middle-section__main__box__info__contents__list {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.fix__name {
  color: #999999;
}

.pve__name__title {
  color: #933e42;
}

.top-section__point__box {
  display: flex;
}

.top-section__point__box i {
  color: #65272a;
  margin-right: 0.2rem;
}

.top-section__point__box__point {
  display: flex;
  margin-right: 1rem;
  padding: 0.1rem 0.15rem;
  border: 0.1rem solid #933e42;
  border-radius: 0.25rem;
}
.top-section__point__box__token {
  display: flex;
  padding: 0.1rem 0.15rem;
  border: 0.1rem solid #933e42;
  border-radius: 0.25rem;
}
